<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="login">Login</label>
          <input type="text" [(ngModel)]="user.login"
            class="form-control" id="login" name="login" placeholder="Enter your login"
            required #login="ngModel">
          <div *ngIf="login.invalid && login.touched" class="alert alert-danger">Login is required</div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" [(ngModel)]="user.password"
                 class="form-control" id="password" name="password" placeholder="Enter your password"
                 required #password="ngModel">
          <div *ngIf="password.invalid && password.touched" class="alert alert-danger">Password is required</div>
        </div>

        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">OK</button>
        &nbsp;
        <a routerLink="/" class="btn btn-primary">Cancel</a>
      </form>
    </div>
  </div>
